*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 30vw;
    grid-template-rows: 15vh 1fr 10vh;
}

.container h1{
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #4e4e4e;
}

.container h1 span{
    color: #ff4f4f;
}

.container .poke-grid{
    width: 60vw;
    display: grid;
    margin: 0 auto;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.poke-grid .poke-card{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    background-color: #ff4f4f;
    padding: 15px 0;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff4f4f;
    cursor: pointer;
}
.poke-info{
    border: 1px solid #ff4f4f;
    width: 60%;
    height: 300px;
    position: sticky;
    top: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.poke-info h1{
    font-size: 32px;
    color: #ff4f4f;
    margin-bottom: 15px;
}


.footer{
    grid-column: 1 / 3;
    height: 10vh;
    display: grid;
    background-color: #4e4e4e;
    text-align: center;
    color: #ffffff;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}